/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

/* Container */
.container {
    display: flex;
    /* max-width: 1200px; */
    /* width: 100%; */
    justify-content: space-between;
    /* padding: 20px; */
    box-sizing: border-box;
}

/* Content Area */
.content {
    /* width: 50%; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.logo img {
    max-width: 150px;
    margin-bottom: 20px;
}

h1 {
    font-size: 57px;
    color: #12151b;
    margin-bottom: 10px;
    font-weight: 700;
}
h1 span{
    color: #e60278;
}

.subheading {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

/* Textarea Styles */
textarea#project-description {
    align-items: center;
    background: var(--color-bg-input, #fff);
    border: 1px solid var(--color-border-light, #ddd);
    border-radius: 4px;
    color: var(--color-foreground, #333);
    display: block;
    max-height: inherit;
    padding: 12px;
    resize: vertical;
    transition: all 0.2s ease-out, border-color 0.3s ease-out;
    /* width: 100%; */
    scrollbar-color: var(--color-border-light, #ddd) var(--color-bg-mid, #f4f4f4);
    font-size: 18px;
    line-height: 1.55;
    margin-bottom: 20px;
}

/* Next Button */
.next-button {
    background-color: #e60278;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    width: fit-content;
    padding-left: 48px;
    padding-right: 48px;
    font-weight: bold;
}

.next-button:hover {
    background-color: #c70265;
}

/* Info Text */
.info-text {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
    font-weight: 400;
}

/* Tick Info */
.tick-info {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}

.tick-icon {
    fill: #e60278;
    margin-right: 10px;
}

/* Bird Image */
.bird-image {
    /* width: 50%; */
    /* display: flex; */
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 
    overflow: hidden;
    /* align-items: center;  */
}

.bird-image img {
    /* max-width: 100%;
    height: 25%; */
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


/* card */
.card-container {
    display: flex;
    gap: 20px;
}

.freelancer-card {
    background-color: white;
    padding: 20px;
    display: flex; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    width: max-content;
    transition: transform 0.3s, box-shadow 0.3s;
}

.freelancer-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.freelancer-card img {
    width: 20%;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.freelancer-card-content {
    flex: 1;
}

.freelancer-card h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.freelancer-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.apply-button {
    background-color: #1772eb;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}

.apply-button:hover {
    background-color: #0056b3;
}

/* Form Styles */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,2.1);
    margin-bottom: 20px;
    font-weight: bold;
}

form label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 15px;
}

form input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

form input[type="number"]::-webkit-inner-spin-button,
form input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    margin: 0;
}

form textarea {
    resize: vertical;
}

form button {
    background-color: #e60278;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #c70265;
}